.create_notes_container {
  width: 300px;
  height: 400px;
  background-color: #192734;
  border-radius: 10px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 30%;
  left: 38%;
}

.create_notes_container closed {
  display: false;
}

.create_notes_title_input_box {
  background-color: #43515d;
  width: 220px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.create_notes_title_input_field {
  background-color: #43515d;
  outline: none;
  border: none;
  color: beige;
  height: 20px;
  font-size: 16px;
}

.create_notes_title_head {
  color: beige;
  font-size: 18px;
  margin-top: 5px;
}

.create_notes_content_input_box {
  background-color: #43515d;
  width: 220px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.create_notes_content_input_field {
  background-color: #43515d;
  outline: none;
  border: none;
  color: beige;
  height: 20px;
  font-size: 16px;
}

.create_notes_content_head {
  color: beige;
  font-size: 18px;
  margin-top: 5px;
}

.create_notes_tag_input_box {
  background-color: #43515d;
  width: 220px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.create_notes_tag_input_field {
  background-color: #43515d;
  outline: none;
  border: none;
  color: beige;
  height: 20px;
  font-size: 16px;
}

.create_notes_tag_head {
  color: beige;
  font-size: 18px;
  margin-top: 5px;
}

.create_notes_button_wrapper {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  margin-top: 20px;
}
.create_notes_create_button {
  color: white;
  background-color: #1da1f2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 5px;
  width: 50px;
}

.create_notes_create_button:hover {
  background-color: #6cb7e6;
  cursor: pointer;
}

.create_notes_close_button {
  width: 50px;
  color: white;
  background-color: rgb(211, 15, 15);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 5px;
}
.create_notes_close_button:hover {
  background-color: rgb(243, 98, 98);
  cursor: pointer;
}
